.container > img {
    padding-top: 100px;
    padding-bottom: 100px;
}

.field {
    display:flex;
    position:realtive;
    margin:5em auto;
    width:70%;
    flex-direction:row;
    box-shadow:
     1px 1px 0 #48525c,
     2px 2px 0 #48525c,
     3px 3px 0 #48525c,
     4px 4px 0 #48525c,
     5px 5px 0 #48525c,
     6px 6px 0 #48525c,
     7px 7px 0 #48525c
    ;
  }
  
  .field>input[type=text],
  .fieldButton {
    display:block;
    font:1.2em 'Montserrat Alternates';
  }
  
  .field>input[type=text] {
    flex:1;
    border:0.2em solid #48525c;
  }
  
  .fieldButton {
    padding:0.6em 0.8em;
    background-color:#48525c;
    color:white;
    border:none;
  }

  .searchContainer {
    margin-top: 70px;
  }

  .AboutUsContainer {
    background-color:rgb(255, 170, 170);
    padding-top: 20px;
    padding-bottom: 30px;
  }